
.container {
    display: flex;
    margin: 20px 0px;
    justify-content: center;
    align-items: center;

}

.add_btn {
    width: 30px;
    height: 30px;
    margin-left: 40px;
    color: white;
    border-radius: 5px;
    background-color: #3f51b5;
}
.deleteTodo_btn{
    top: 10px;
    right: 15px;
    position: absolute;
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 5px;
    background-color: #3f51b5;
}

.add_inp {
    margin: 10px 0;
    padding: 6px 12px;
    height: 30px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(7, 7, 7, 0.93);
    border: 1px solid rgba(169, 169, 169, 0.4);
    border-radius: 5px;
    max-width: 250px;
    width: 100%;
}

.add_inp_task {
    margin: 10px 0;
    padding: 6px 12px;
    height: 15px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(7, 7, 7, 0.93);
    border: 1px solid rgba(169, 169, 169, 0.4);
    border-radius: 5px;
    max-width: 180px;
    width: 100%;
}

.todo {
position: relative;
    border-radius: 5px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
    padding: 20px;
    margin: 20px;
    flex-wrap: wrap;
    -webkit-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.38);
    -moz-box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.38);
    box-shadow: 6px 10px 8px 0px rgba(34, 60, 80, 0.38);
}

.list_todo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container_todos {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.task_container {
    display: flex;
    background-color: #f3f3f3;
    justify-content: space-around;
    margin: 10px 0px;
}

.finished_task {
    min-height: 50px;
    width: 100%;
    background-color: #f3f3f3;
    margin: 20px 0px;
    opacity: 0.3;
}


.unfinished_task {
    min-height: 50px;
    width: 100%;
    background-color: #f3f3f3;
    margin: 20px 0px;
}

.head_todo_container {
    display: flex;
    justify-content: center;
    align-items: center
}

.headTask_Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task_text {
    font-size: 16px;
    font-family: sans-serif;
    align-self: center;
    min-width: 290px;
}

.header_tasks {
    align-self: flex-start;
}

.checkbox_style {
    height: 20px;
    width: 20px;
}